<div class="text-black dark:text-white bg-white dark:bg-gray-800 p-6 rounded-4xl max-w-xl m-4 flex-col w-1/3 min-w-[300px]">
    <h3 class="text-lg text-center font-semibold mb-4">Реєстрація</h3>
    
    @if (!isAwaitingCode()) {
        <form (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
            <input class="p-2 border border-gray-300 rounded-2xl" type="email" placeholder="Електронна пошта" [(ngModel)]="email" name="email" required [disabled]="isLoading()" />
            <input class="p-2 border border-gray-300 rounded-2xl" type="text" placeholder="Ім'я користувача" [(ngModel)]="username" name="username" required [disabled]="isLoading()" />
            <input class="p-2 border border-gray-300 rounded-2xl" [type]="showPassword ? 'text' : 'password'" placeholder="Пароль" [(ngModel)]="password" name="password" required [disabled]="isLoading()" />
            <input class="p-2 border border-gray-300 rounded-2xl" [type]="showPassword ? 'text' : 'password'" placeholder="Підтвердити пароль" [(ngModel)]="confirmPassword" name="confirmPassword" required [disabled]="isLoading()" />
            <button type="button" (click)="togglePassword()" class="flex items-center pr-3 text-gray-500 hover:text-gray-700">
                {{ showPassword ? 'Сховати' : 'Показати' }} пароль
            </button>
            
            <button type="submit" 
                    [disabled]="isLoading()"
                    class="mt-2 bg-green-600 text-white py-2 px-4 rounded-2xl hover:bg-green-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors">
                @if (isLoading()) { Надсилаємо код... } @else { Створити акаунт }
            </button>
        </form>
    } @else {
        <app-email-verification 
        [email]="email" 
        navigateTo="/"  
        (cancel)="resetFields()"></app-email-verification>
    }
    
    <a routerLink="/login" class="text-blue-500 hover:underline block mt-4">
        Вже маєте акаунт? Увійдіть тут  
    </a>

    @if (error()) { <p class="text-red-500 mt-2">{{ error() }}</p> }
    @if (message()) { <p class="text-green-500 mt-2">{{ message() }}</p> }
</div>